                        <div class="widget">
                            <div class="marked-title">
                                <h3>be social</h3>
                            </div>
                            <ul class="social">
                                <li>
                                     <a href="https://www.facebook.com/pages/The-Shedonist/1620937174829764">
                                        <span class="icon fb"></span>
                                        <span>Facebook</span>   
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/TheShedonistMag">
                                        <span class="icon tw"></span>
                                        <span>twitter</span>   
                                    </a>
                                </li>
                                <li class="third">
                                    <a href="#">
                                        <span class="icon rss"></span>
                                        <span>subscribers</span>   
                                    </a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>